<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer th:fragment = "footer">
<div class="footer">
    <p style="font-size: small">© 2017 Car Talk. All rights reserved. Terms & Conditions <a href="/cookies">Cookie Policy</a> Privacy Policy Contact Us</p>
    <p style="font-size: x-small">Please note that unauthorised reproduction or translation of any content (including words, data, information, photos, videos and any other intellectual property) published on this page and any other copyrighted content published on CarTalk.com is strictly prohibited.</p>
    <p style="font-size: x-small">Please see our terms and conditions for further information.</p>
</div>
</footer>
</body>
</html>