<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Title</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="../static/bootstrap/css/custom.css" th:href="@{/bootstrap/css/custom.css}" />
</head>
<header>
    <nav th:replace="fragments/menu::menu"></nav>
</header>
<body>
<br/>
<div class="text-center">
    <p class="h1">Alfa Romeo Gulia (2016)</p>
    <br/>
    <img  src="http://st.motortrend.com/uploads/sites/10/2017/02/2017-Alfa-Romeo-Giulia-Quadrifoglio-front-three-quarter.jpg" style="height: 896px; height: 504px;">
</div>
<div class="text-center">
    <br/>
    <div class="container">
        <br/>
        <p align="justify">The Giulia uses a front-engine, rear-wheel-drive layout, featuring an even 50% front and 50% rear weight distribution.[4] Suspension is independent all-around, of the double wishbone type at the front and multilink at the rear.[4] All Giulia models employ a carbon-fibre drive shaft made by Hitachi Automotive Systems,[21] as well as aluminium alloy shock towers, suspension components, front wings and doors.Four-wheel drive models will also be offered.</p>
        <p align="justify">The Super Sport version of the Veyron is recognised by Guinness World Records as the fastest street-legal production car in the world, with a top speed of 431.072 km/h (268 mph),[6] and the roadster Veyron Grand Sport Vitesse version is the fastest roadster in the world, reaching an averaged top speed of 408.84 km/h (254.04 mph) in a test on 6 April 2013.</p>
        <p align="justify">Besides the high-performance Quadrifoglio's twin turbo 90° V6, the engine line-up will comprise turbocharged six- and four-cylinder petrol engines, as well as six- and four-cylinder turbodiesels.[22] A four-cylinder and a V6, the latter different from the Quadrifoglio's and with a 60° angle between the cylinder banks,[9] are built in FCA Italy's Termoli plant.[25] Diesel engines are built in Pratola Serra plant.</p>
        <p align="justify">The first models on sale from February 2016 will be the new 2.2 L Multijet II turbodiesel and the 2.9 L V6 Quadrifoglio.[9] A 2.0 L MultiAir2 turbo petrol engine was announced at the time of the Giulia Quadrifoglio making its North American debut at the Los Angeles Auto Show in November 2015.[26] 2.0 liter gasoline engines are part of all new FCA Global Medium Engine (GME) family. Alfa version of GME will share up to 70% parts with GME for other FCA brands.</p>
    </div>
</div>
</body>
<footer th:replace="fragments/footer::footer"></footer>
<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>